@font-face {
    font-family: "cinzel";
    src: url('../assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url('../assets/backgroundHomePage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth-form {
    background: white;
    padding: 2rem;
    border: 2px solid #F4A261;
    border-radius: 8px;
    background-color: #1d355765;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.auth-form h2 {
    text-align: center;
    color: #1A1A1A;
    font-family: 'cinzel';
    text-shadow: 1px 1px 2px #F4A261;
    margin-bottom: 1.5rem;
}

.auth-form p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4px;
    color: #1A1A1A;
    font-family: 'cinzel';
    text-shadow: 1px 1px 2px #F4A261;
    margin-bottom: 1.5rem;
}

.auth-form input {
    margin: 4px;
    padding: 0.8rem;
    border: 2px solid #F4A261;
    border-radius: 8px;
    font-size: 1rem;
}

.auth-form button {
    margin: 10px;
    padding: 0.5rem 1.2rem;
    background-color: #1D3557;
    color: #F4A261;
    border: 2px solid #F4A261;
    border-radius: 6px;
    font-family: 'cinzel', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: rgba(244, 162, 97, 0.15);
}

.auth-form a {
    margin: 10px;
    padding: 0.5rem 1.2rem;
    background-color: #1D3557;
    color: #F4A261;
    border: 2px solid #F4A261;
    border-radius: 6px;
    font-family: 'cinzel', sans-serif;
    font-size: 1rem;
    cursor: pointer;

}

.auth-form a:hover {
    background-color: rgba(244, 162, 97, 0.15);
}

.login-navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem 2rem;
}

@media (max-width: 640px) {
    .auth-form {
        max-width: 90vw;
        padding: 1.5rem 1rem;
    }
}