@font-face {
    font-family: "cinzel";
    src: url('../assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "cinzel-h2";
    src: url('../assets/fonts/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    
    background-image: url('../assets/backgroundHomePage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #1d355765;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin: 2rem;
    border-radius: 8px;
    animation: slideDown 0.8s ease;
}

.home-header h1 {
    margin: 0 0 1rem 0;
    font-family: 'cinzel';
    font-size: 2.5rem;
    color: #1A1A1A;
    text-shadow: -1px -1px 0 #D89441, 1px -1px 0 #D89441, -1px 1px 0 #D89441, 1px 1px 0 #D89441;
}

.home-header p {
    font-size: 1.2rem;
    font-family: 'cinzel';
    color: #F4A261;
    text-shadow: -1px -1px 0 #1A1A1A, 1px -1px 0 #1A1A1A, -1px 1px 0 #1A1A1A, 1px 1px 0 #1A1A1A;
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.title-style{
    text-align:center;
    background-color: #1A1A1A;
    border: 3px solid #F4A261;
    border-radius: 8px;
    margin-top: 2rem;
    margin-right: 15rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.events-section-style {
    text-align: center;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.title-style h2 {
    color: #F4A261;
    font-family: 'cinzel';
}

.events-display-style {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.event-card {
    background-color: #3A4F7A;
    border: 3px solid #F4A261;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px #6B705C;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card h3 {
    margin-top: 0;
    color: #1A1A1A;
}

.btn-details {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #F4A261;
    color: #1A1A1A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}

.btn-details:hover {
    background-color: #E76F51;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px;
    }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(var(--rotation, 0deg));
  }
  50% {
    transform: translateY(8px) rotate(var(--rotation, 0deg));
  }
}